@model IEnumerable<databaseFirstAPP.Models.hangmanDataModel>

@{
    ViewBag.Title = "gameBoard";
}

<h2>gameBoard</h2>


@foreach (var Model in )
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.word_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.word1)
        </td>

    </tr>

}