@model IEnumerable<databaseFirstAPP.word>

@{
    ViewBag.Title = "Hangman - The Game - DB1";
}

<center>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            Category:<br />
            @Html.DropDownList("categories_LIST", null, htmlAttributes: new { @class = "form-control" })<br />
            Dificulty:<br />
            <select class="form-horizontal" name="dificulty">
                <option value="1">Easy</option>
                <option value="2">Medium</option>
                <option value="3">Hard</option>
            </select>
            <input type="submit" value="Let's Play'" class="submit" />
        </div>
    }

</center>
 